<div id="wrapper">
</div>
<div id="navbar"><p><hr><center><a href="home">
	What is Global Warming?</a><hr>
	<a href="about">About us</a>
	</a></center></hr></p><p><hr></hr></p></div>
<div id="pic1"></div>
<div id="pic2"></div>
<div id="info">
The Earth as an ecosystem is changing, attributable in great part to the effects of globalization and man. More carbon dioxide is now in the atmosphere than has been in the past 650,000 years. This carbon stays in the atmosphere, acts like a warm blanket, and holds in the heat — hence the name ‘global warming.’

<br>

The reason we exist on this planet is because the earth naturally traps just enough heat in the atmosphere to keep the temperature within a very narrow range – this creates the conditions that give us breathable air, clean water, and the weather we depend on to survive. Human beings have begun to tip that balance. We’ve overloaded the atmosphere with heat-trapping gasses from our cars and factories and power plants. If we don’t start fixing the problem now, we’re in for devastating changes to our environment. We will experience extreme temperatures, rises in sea levels, and storms of unimaginable destructive fury. Recently, alarming events that are consistent with scientific predictions about the effects of climate change have become more and more commonplace.