<div id="wrapper">
</div>
<div id="navbar"><p><hr><center><a href="home">
	What is Global Warming?</a><hr>
	<a href="about">About us</a>


</a></center></hr></p><p><hr></hr></p></div>
<div id="pic1"></div>
<div id="pic2"></div>
<div id="info">
	Welcome to stopglobalwarming.net.  On this site we believe that tackling global warming is also one of the best things we can do to re-vitalize America’s economy and end our dependence on oil. The energy technologies that are needed — everything from hybrid cars to renewable energy to energy saving appliances — would be a huge engine of economic growth for the 21st Century. So join the march and spread the word: it’s time to unleash American ingenuity to bring about the new energy revolution we need to stop global warming.
	<br>
	We also believe that Global warming isn’t just an opinion. It’s a scientific reality. And the science tells us that human activity has made enormous impacts to our planet that affect our well-being and even our survival as a species.  The world’s leading science journals report that glaciers are melting ten times faster than previously thought, that atmospheric greenhouse gases have reached levels not seen for millions of years, and that species are vanishing as a result of climate change. They also report of extreme weather events, long-term droughts, and rising sea levels.  Fortunately, the science also tells us how we can begin to make significant repairs to try and reverse those impacts, but only through immediate action. That’s why we urge you to join us. The Stop Global Warming Virtual March is virtual but its purpose is real. By spreading the word and sharing this with others, our collective power will force governments, corporations, and politicians everywhere to pay attention.
	<br>
	And don't forget out catchy slogan!!!
	<br>
	STOP GLOBAL WARMING, BEFORE IT BECOMES GLOBAL BOILING


</div>

